<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="public/stylesheets/daily.css">
    <title>라프텔</title>
</head>
<body>
    <div id="root">
        <%- include('header') -%>
        </div>

        <div class="container-wrap">
            <div class="container">
                <div class="day-list">
                    <div class="day-item">
                        <div class="item-wrap d-day">월</div>
                    </div>
                    <div class="day-item">
                        <div class="item-wrap">화</div>
                    </div>
                    <div class="day-item">
                        <div class="item-wrap">수</div>
                    </div>
                    <div class="day-item">
                        <div class="item-wrap">목</div>
                    </div>
                    <div class="day-item">
                        <div class="item-wrap">금</div>
                    </div>
                    <div class="day-item">
                        <div class="item-wrap">토</div>
                    </div>
                    <div class="day-item">
                        <div class="item-wrap">일</div>
                    </div>
                </div>

                <div class="item-list">
                    <div class="item-column">
                        <% for (let i = 0; i < posts.length; ++i) { %>
                            <% if (posts[i].day === 'monday') { %>
                                <a href="/item/<%- posts[i].id %>">
                                    <div class="item">
                                        <div class="thumbnail"><img src="public/uploads/<%- posts[i].img %>"></div>
                                        <div class="title"><%- posts[i].title %></div>
                                        <div class="tag"><%- posts[i].tag %></div>
                                    </div>
                                </a>
                            <% } else { %>
                                <% break; %>
                            <% } %>
                        <% } %> 
                    </div>
                    <div class="item-column">
                        <% for (let i = 0; i < posts.length; ++i) { %>
                            <% if (posts[i].day === 'tuesday') { %>
                                <a href="/item/<%- posts[i].id %>">
                                    <div class="item">
                                        <div class="thumbnail"><img src="public/uploads/<%- posts[i].img %>"></div>
                                        <div class="title"><%- posts[i].title %></div>
                                        <div class="tag"><%- posts[i].tag %></div>
                                    </div>
                                </a>
                            <% } else { %>
                                <% break; %>
                            <% } %>
                        <% } %> 
                    </div>
                    <div class="item-column">
                        <% for (let i = 0; i < posts.length; ++i) { %>
                            <% if (posts[i].day === 'wednesday') { %>
                                <a href="/item/<%- posts[i].id %>">
                                    <div class="item">
                                        <div class="thumbnail"><img src="public/uploads/<%- posts[i].img %>"></div>
                                        <div class="title"><%- posts[i].title %></div>
                                        <div class="tag"><%- posts[i].tag %></div>
                                    </div>
                                </a>
                            <% } else { %>
                                <% break; %>
                            <% } %>
                        <% } %> 
                    </div>
                    <div class="item-column">
                        <% for (let i = 0; i < posts.length; ++i) { %>
                            <% if (posts[i].day === 'thursday') { %>
                                <a href="/item/<%- posts[i].id %>">
                                    <div class="item">
                                        <div class="thumbnail"><img src="public/uploads/<%- posts[i].img %>"></div>
                                        <div class="title"><%- posts[i].title %></div>
                                        <div class="tag"><%- posts[i].tag %></div>
                                    </div>
                                </a>
                            <% } else { %>
                                <% break; %>
                            <% } %>
                        <% } %> 
                    </div>
                    <div class="item-column">
                        <% for (let i = 0; i < posts.length; ++i) { %>
                            <% if (posts[i].day === 'friday') { %>
                                <a href="/item/<%- posts[i].id %>">
                                    <div class="item">
                                        <div class="thumbnail"><img src="public/uploads/<%- posts[i].img %>"></div>
                                        <div class="title"><%- posts[i].title %></div>
                                        <div class="tag"><%- posts[i].tag %></div>
                                    </div>
                                </a>
                            <% } else { %>
                                <% break; %>
                            <% } %>
                        <% } %> 
                    </div>
                    <div class="item-column">
                        <% for (let i = 0; i < posts.length; ++i) { %>
                            <% if (posts[i].day === 'saturday') { %>
                                <a href="/item/<%- posts[i].id %>">
                                    <div class="item">
                                        <div class="thumbnail"><img src="public/uploads/<%- posts[i].img %>"></div>
                                        <div class="title"><%- posts[i].title %></div>
                                        <div class="tag"><%- posts[i].tag %></div>
                                    </div>
                                </a>
                            <% } else { %>
                                <% break; %>
                            <% } %>
                        <% } %> 
                    </div>
                    <div class="item-column">
                        <% for (let i = 0; i < posts.length; ++i) { %>
                            <% if (posts[i].day === 'sunday') { %>
                                <a href="/item/<%- posts[i].id %>">
                                    <div class="item">
                                        <div class="thumbnail"><img src="public/uploads/<%- posts[i].img %>"></div>
                                        <div class="title"><%- posts[i].title %></div>
                                        <div class="tag"><%- posts[i].tag %></div>
                                    </div>
                                </a>
                            <% } else { %>
                                <% break; %>
                            <% } %>
                        <% } %> 
                    </div>
                </div>
                <div class="upload">
                    <a class="uploadBtn" href="/thumbnail">썸네일 업로드</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>