<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="public/stylesheets/index.css">
    <title>라프텔</title>
</head>
<body>
    <div id="root">
        <%- include('header.ejs') -%>

            <div class="logo">
                <img src="./public/images/heroaca_logo_210531.png">
                <h2>MMO 액션 RPG의 시작, 너도 히어로가 될 수 있다!</h2>
                <a class="btn">보러가기</a>
            </div>

            <div class="background-list">
                <ul class="more">
                </ul>
            </div>
        </div>

        <div class="container-wrap">
            <div class="container">
                <h2>최근 본 작품</h2>
                <div class="item-wrap">
                    <% for(let i = 0; i < posts.length; ++i) { %>
                        <a href="/view/<%- posts[i].Video.id %>">
                            <div class="item">
                                <div class="thumbnail"><img src="/public/uploads/<%- posts[i].Video.img %>"></div>
                                <div class="title"><%- posts[i].Video.title %></div>
                            </div>
                        </a>
                    <% } %>
                </div>
                
            </div>

            <div class="container">
                <h2>신작 TOP5</h2>
                <div class="item-wrap">
                    <% for(let i = 0; i < top5_posts.length; ++i){%>
                    <a href="/item/<%- top5_posts[i].id%>">
                        <div class="item">
                            <div class="thumbnail"><img src="/public/uploads/<%- top5_posts[i].img%>" style="width: 290px; height: 415px;"></div>
                            <div class="title"><%- top5_posts[i].title%></div>
                        </div>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="info">
                <div class="info-left">
                    <ul>
                        <li><div class="logo">LAFTEL</div></li>
                        <li><a href="#">회사소개</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보 처리방침</a></li>
                    </ul>
                </div>
                <div class="info-right">
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        class Background {
            constructor(filename, logoFilename, content) {
                this.filename = filename;
                this.logoFilename = logoFilename;
                this.content = content;
            }
        }

        window.onload = () => {
            const header = document.querySelector('.header');
            const more = document.querySelector('.more');
            const logo = document.querySelector('.logo img');
            const content = document.querySelector('.logo h2');
            
            const url = './public/images';
            const background_arr = [
                new Background('heroaca_W_210531.jpg', 'heroaca_logo_210531.png', 'MMO 액션 RPG의 시작, 너도 히어로가 될 수 있다!'),
                new Background('carousel_hero_86_w.jpg', 'carousel_logo_86.png', '기대하지 않고 봤다가 치여버린 작품!'),
                new Background('carousel_hero_mashironooto_w.jpg', 'carousel_logo_mashironooto.png', '나만의 소리를 찾아 떠나는 여행'),
                new Background('carousel_hero_doukyusei_w.jpg', 'carousel_logo_doukyusei.png', '풋풋한 청춘의 달콤한 이야기'),
                new Background('carousel_tokyo_revengers_w.jpg', 'carousel_tokyo_revengers_logo.png', '한 사람을 위한 리벤지'),
                new Background('carousel_hero_sailormoon_S_w.jpg', 'carousel_logo_sailormoon_S.png', '세일러 요정들과 영혼의 별'),
                new Background('carousel_hero_lightani_w.jpg', 'carousel_logo_lightani.png', '남녀노소 가볍게 볼 수 있는 라이트 애니관 오픈!'),
            ];
            const max_index = background_arr.length - 1;
            let index = 0;

            for (const _ in background_arr) {
                more.innerHTML += (_ === '0') ? '<li class="current"></li>' : '<li></li>';
            }

            const mores = document.querySelectorAll('.more li');

            setInterval(() => {
                mores[index].classList.remove('current');
                index = (index < max_index) ? index + 1 : 0;  
                mores[index].classList.add('current');

                header.style.backgroundImage = `linear-gradient(90deg, rgba(18, 18, 18, 0.5) 0%, rgba(18, 18, 18, 0) 50%), linear-gradient(rgba(18, 18, 18, 0.5) 0%, rgba(18, 18, 18, 0) 21.11%), linear-gradient(rgba(18, 18, 18, 0) 50%, rgba(18, 18, 18, 0.5) 100%), url('${url}/${background_arr[index].filename}')`;
                logo.src = `${url}/${background_arr[index].logoFilename}`;
                content.innerHTML = background_arr[index].content;
            }, 5000);
        }
    </script>
</body>
</html>